body {
    background: blueviolet;
    margin-top: 100px;
    margin-right: 300px;
    margin-bottom: 100px;
    margin-left: 300px;
}

#Titulo {
    text-align: center;
}

#banner {
    border-radius: 10px;
    margin: 0 auto;
    width: 70%
}

img {
    width: 100%;
}

#download {
    color: azure;

    width: 150px;
    height: 25px;

    border-radius: 10px;
    text-align: center;
}

#central {
    background: white;
    border-radius: 10px;
}

#texto{
    text-align: center;
}

#video {
    text-align: center;
}

p {
    padding-left: 25px;
}

a {
    color: black;
    background: cornflowerblue;
}


#subtitulo {
    text-align: center;
}